[procServ]
procserv=/cerl/epics/R314.12.5/extensions/bin/linux-x86_64/procServ
lockpath=/users/sdcswd/python/tmp/procBoot/lock

[procBoot]
logpath=/users/sdcswd/python/tmp/procBoot/log
log=$section_$host.log

[default]
startcmnd=\n
endline=epics>
restartwait=1
user=cerloper
logpath=/users/sdcswd/python/tmp/procBoot/log/proc
log=$section_$host.log
desc=default description
group=default group

# Add your program below:
[example]
desc=example ioc
cmnd=python test.py
path=/users/sdcswd/epics/test/$section/iocBoot/iocexample
port=33300
user=wang
group=linac

[timingioc]
desc=timing ioc
cmnd=./timing.cmd
path=/users/sdcswd/epics/test/$section/iocBoot/iocexample
port=33300
user=sdcswd
group=control
