[procServ]
procserv=/Users/sdcswd/epics/R3.14.12.8/extensions/bin/darwin-x86/procServ
lockpath=/Users/sdcswd/workspace/python/PV_crawler/procBoot/log/lock

[procBoot]
logpath=/Users/sdcswd/workspace/python/PV_crawler/procBoot/log/procBoot
log=$section_$host.log

[default]
startcmnd=\n
endline=epics>
restartwait=1
user=sdcswd
logpath=/Users/sdcswd/workspace/python/PV_crawler/procBoot/log/procServ
log=$section_$host.log
desc=default description
group=default group

# Add your program below:
[cont1]
desc=get current time
cmnd=./st.cmd
path=/Users/sdcswd/epics/R3.14.12.8/ioc/cont1/iocBoot/ioccont1
port=33300
user=sdcswd
group=linac